@import "tailwindcss";
@import "@fontsource/orbitron/400.css";
@import "@fontsource/orbitron/500.css";
@import "@fontsource/orbitron/700.css";


@font-face {
  font-family: "Avenir LT Std";
  src: url("/fonts/Avenir LT Std 85 Heavy.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src: url("/fonts/Avenir LT Std 45 Book.otf") format("otf");
  font-weight: lighter;
  font-style: normal;
}



@theme {
  --font-orbitron: 'Orbitron', 'Arial', sans-serif;
  --font-avenir: 'Avenir LT Std', 'Arial', sans-serif;
}

@theme {
  --color-dark-green: oklch(38.53% 0.0556 207.51);
  --color-lite-blue: oklch(72.05% 0.1173 210.79);
  --color-apple-green: oklch(83.94% 0.1577 115.26);
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE et Edge */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }
}

* {
  box-sizing: border-box;
}

html,
body,

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

.main {
  width: 100%;
  height: 100%;
}

#tomb-canvas {
  position: absolute !important;
}

ul {
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  width: 2px;
  /* Largeur de la barre de défilement */
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Couleur de l'arrière-plan de la piste */
}

ul::-webkit-scrollbar-thumb {
  background: #888;
  height: 4px;
  /* Couleur de la barre de défilement */
}

ul::-webkit-scrollbar-thumb:hover {
  background: #29285BE5;
  /* Couleur de la barre de défilement au survol */
}


#scroll::-webkit-scrollbar {
  width: 1em;
  /* Largeur de la barre de défilement */
}

/* #scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
  }/* Couleur de l'arrière-plan de la piste */


#scroll::-webkit-scrollbar-thumb {
  /* background: #888; */
  height: 100%;
  max-height: 16vh;
  min-height: 16vh;
  width: 1em;
  background: url("/src/assets/ui_element/scroll.png");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="date"]::-webkit-datetime-edit {
  color: transparent;
  /* Masque le texte du placeholder natif */
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: inherit;
  /* Affiche le texte normal après sélection */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: auto;
  /* S'assurer que l'élément reste cliquable */
}

.fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

@keyframes breath {

  0%,
  100% {
    opacity: 1;
    transform: scale(1.02);
  }

  50% {
    opacity: 0;
    transform: scale(1);
  }
}

.breath {
  animation: breath 4s ease-in-out infinite;
}